* {
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: OpenSans-Bold; 
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");    
  }

@font-face {
    font-family: OpenSans-Regular; 
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  }


/* -------------------------------- Верхний блок -------------------------------- */

header {  
  background-image: url(../images/football_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {    
  background-color: rgb(10, 14, 52, 0.9);  
}

h1 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.logo {  
  display: flex;    
  justify-content: center;
  padding-top: 40px;  
}

.logo_icon { 
  fill: white;
  width: 190px;
  height: 55px;  
}

.caption {  
  margin-top: 280px;     
  margin-left: auto;
  margin-right: auto;
  max-width: 1560px;  
}

.caption_txt {
  display: block; 
  font-size: 90px; 
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;   
  color: white;  
  text-transform: uppercase;
  padding-left: 15px;
  letter-spacing: 4px;
  line-height: 1;
}

.caption_txt_2 {
  padding-left: 460px;  
  padding-right: 15px;  
}

.apps {
  display: flex;  
  justify-content: center;
  margin-top: 220px;
  padding-bottom: 100px;
}

.app_button {
  width: 310px;
  height: 80px;
  background-color: #5e42b0;
  border-radius: 40px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.app_button > span {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 14px; 
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
}

.app_button_b {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700; 
  display: block; 
}

.app_button:first-child {
  margin-right: 50px;
}

.logo_icon_app { 
  fill: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* -------------------------------- Игроки -------------------------------- */

.gamers {  
  display: flex;
  flex-direction: column;    
}

.gamers, .players {
  position: relative; 
}

.gamers:before { 
  content:""; 
  position: absolute;  
  bottom: 10px;
  right: 10px; 
  left: 400px;  
  top: 30px; 
  background:url(../images/footballer_566.png); 
  background-repeat: no-repeat;
  z-index: 10;
}

.players:before {
  content:""; 
  position: absolute;  
  bottom: 10px;
  right: 10px; 
  left: 800px;  
  top: 30px; 
  background:url(../images/basketballer_991.png); 
  background-repeat: no-repeat;
  z-index: 10;
}

.athlets, .players {
  flex-basis: 50%; 
}

.athlet_txt {  
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 53%;  
  padding-right: 30px;
   
}

.player_txt {
  margin-right: auto;
  margin-left: auto;
  max-width: 1560px; 
  padding-left: 60px; 
  padding-right: 30px; 
}

.athlet_txt, .player_txt {      
  padding-top: 45px;
  padding-bottom: 45px;  
}

.athlet_txt_1 {      
  padding-top: 30px;
}

.athlet_txt_point {
  display:  flex;   
}

.athlet_3_bg, .player_3_bg {
  background-color: #f6f4fa;
}

.athlet_4_bg {
  background-color: #5e42b0;
}

.player_4_bg {
  background-color: #0a0e34;
}

h2 {
  font-size: 80px; 
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;    
  color: #e7e7e7;  
  text-transform: uppercase; 
}

.h2_1 {
  padding-top: 45px;
}

h3 {
  font-size: 36px; 
  font-family: 'OpenSans-Bold', sans-serif;  
  letter-spacing: 2px;
  color: #c1c1c1;  
  text-transform: uppercase;
  padding-bottom: 20px;  
}

.athlet_point {  
  height: 15px;
  font-size: 18px; 
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 900; 
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #8f7bc8;
  margin: 18px 12px 0px 0px;
  line-height: 5px;
}

.white_brdr {  
  border-bottom-color: white;
}

.point03 {
  color: #9173e6;
}

.athlet_txt_p, .player_txt_p {
  font-size: 20px; 
  font-family: 'OpenSans-Regular', sans-serif;  
  max-width: 720px;
  line-height: 30px;  
  letter-spacing: 1px;
}

.athlet_txt_p_3, .player_txt_p_3 {
  color: white;  
}

/* -------------------------------- Шаги -------------------------------- */

.steps {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.step {  
  display: flex;  
  font-size: 0; /* убирает пробелы между блоками */  
}

.step_img, .step_txt {    
  flex-basis: 50%;  
}

.step_img > img {
  max-width: 100%;  
}

.step_txt {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  box-sizing: border-box; 
}

.step_point_pos {
  position: relative; /* позволяет позиционировать блок step_point от родителя */
}

.step_txt:nth-child(even) {
  padding-left: 130px;
  padding-right: 130px;   
}

.step_txt:nth-child(odd) {
  padding-left: 180px;
  padding-right: 150px;    
}


.step_txt > p {  
  font-size: 24px; 
  font-family: 'OpenSans-Regular', sans-serif; 
  line-height: 30px;  
  letter-spacing: 1px;
  max-width: 640px;    
}

.step_point_pos > h2 {
  padding-bottom: 60px;
}

.step_point {
  height: 155px;
  width: 170px;
  background-color: #5e42b0;
  color: white;
  position: absolute;
  left: -210px;
  top: -30px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.step_point_2 {
  left: auto;
  right: -230px;
}

.step_point_txt {  
  color: white;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  font-weight: 700;   
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #8f7bc8;   
}



/* -------------------------------- Подвал -------------------------------- */

footer {  
  background-image: url(../images/game_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {  
  background-color: rgb(10, 14, 52, 0.9);
}

.down_app {
  display: flex;
  justify-content: center;
  padding-top: 270px;
}

.down_app_icon {
  background-color: #6a4cc3;
  border-radius: 30px; 
  width: 130px;
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-right: 20px; 
}

.down_app_txt_2 {
  display: block;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 30px;
  color: #a496ca;
  text-transform: uppercase;  
  padding-left: 25px;
}

.logo_icon_mini { 
  fill: white;
  width: 110px;
  height: 90px;  
}

.logo_icon_2 {
  padding-top: 160px;
  padding-bottom: 70px;
}

.caption_txt_3 {
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 1;
}

.footer > .apps {
  margin-top: 130px;
}


/* -------------------------------- surface_320.psd -------------------------------- */

@media (max-width: 640px) {

  header {  
    background-image: url(../images/football_767.jpg);
  }

  footer {  
    background-image: url(../images/game_767.jpg);
  }

  .apps {       
    flex-direction: column;
    align-items: center; 
    margin-top: 100px; 
    padding-bottom: 50px;    
  }

  .footer > .apps {
    padding-bottom: 0;
    margin-top: 80px;
  }

  .logo_icon_app { 
    fill: white;
    width: auto;
    height: 25px;
    margin-right: 15px;
    padding-left: 30%;
  }

  .app_button {
    max-width: 280px;    
    height: 35px;      
    justify-content: flex-start;  
    margin: 0;
    margin-bottom: 3%;    
  }

  .app_button:first-child {
  margin-right: 0px;
  }

  .app_button > span {
    font-size: 8px;
  }

  .gamers:before { 
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 65px;  
    top: 120px; 
    background:url(../images/footballer_192.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .players:before {
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 10px;  
    top: 120px; 
    background:url(../images/basketballer_302.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .caption_txt {
    font-size: 28px; 
    letter-spacing: 2px;  
  }

  .caption_txt_1 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .caption_txt_2 {
    padding-left: 75px;
    padding-top: 30px;
  }

  .caption {
    margin-bottom: 90px;
    margin-top: 135px;
  }

  h2 {
    font-size: 50px;    
  }

  .h2_1 {
    padding-bottom: 330px;
    padding-top: 0;
  }

  .athlet_txt, .player_txt {
    padding-left: 20px;
    padding-top: 55px;
  }

  .athlet_2_bg, .player_2_bg {
    background-color: #fafafa;
  }

  .athlet_txt:first-child, .player_txt:first-child {
    padding-top: 20px;
    padding-bottom: 20px;    
  }

  .athlet_txt_p, .player_txt_p {
    font-size: 16px;
    max-width: 270px;
  }

  .athlet_point, .player_point {
    font-size: 14px;
    margin: 10px 8px 0px 0px;
    width: 16px;
  }

  h3 {
    font-size: 23px;
  }

  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_txt:nth-child(even), .step_txt:nth-child(odd) {
    height: 210px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .step_point {
    height: 70px;
    width: 70px; 
    left: calc(35px - 70px/2);  
    top: calc(-30px - 70px/2);   
  }

  .step_point_pos > h2 {
    font-size:  28px;
    padding-bottom: 0;
    padding-top: 10px;
  }

  .step_point_txt {
    height: 20%;
    width: 22%;
    line-height: 10px;
    font-size:  14px;
    border-bottom-width: 3px;
  }
  
  .step_txt {
    height: 210px;    
  }

  .step_txt > h2 {
    font-size:  28px;
    margin-bottom:  25px;
  }

  .step_txt > p {
    font-size:  16px;
    padding-top: 30px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 25%; 
  }

  .down_app_icon {
    margin-bottom: 15%;
    margin-right: 0px; 
    width: 70px;
    height: 70px; 
    border-radius: 20px;
  }

  .caption_txt_3 {
    font-size: 28px;
  }

  .logo_icon_mini {
    width: 50px;
    height:  50px;
  }

  .down_app_txt_2 {
    font-size:  14px;
  }

  .logo_icon_2 {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .logo_icon {
    width: 135px;
    height: 40px;
  }

  .footer > .logo {
    padding-top: 0;
  }

}

/* -------------------------------- surface_768.psd -------------------------------- */

@media (min-width: 641px) and (max-width: 960px) {

  header {  
    background-image: url(../images/football_767.jpg);
  }

  footer {  
    background-image: url(../images/game_767.jpg);
  }

  .gamers:before { 
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: -150px;  
    top: 120px; 
    background:url(../images/footballer_497.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .players:before {
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 42%;  
    top: 60px; 
    background:url(../images/basketballer_436.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .caption {
    margin-top: 180px;    
  }

  h2 {
    font-size: 80px;    
  }

  .step_point_pos > h2 {
    padding-bottom: 0px;
  }

  .caption_txt {
    font-size: 64px;
  }
    
  .caption_txt_1 {
    padding-left: 80px; 
    padding-right: 20px;   
  }

  .caption_txt_2 {
    padding-left: 180px;
    padding-right: 20px;     
  }
  
  .footer > .apps {
    margin-top: 310px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .athlet_txt, .player_txt {
    padding-bottom: 0;
  }

  .athlet_txt {
    padding-left: 40%;
  }  

  h3 {
    font-size: 32px;
  }

  .athlet_txt > p, .player_txt > p {
    font-size: 16px;
    padding-bottom: 40px;
    max-width: 430px;
  }
  
  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_point, .step_point_2 {
    height: 110px;
    width: 110px; 
    left: calc(55px - 110px/2);  
    top: calc(-80px - 110px/2);   
  }

  .step_point_txt {
    height: 20%;
    width: 20%;
    line-height: 15px;
  }
  
  .step_txt:nth-child(even), .step_txt:nth-child(odd) {
    height: 340px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .step_txt > p {
    padding-top: 20px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 120px;    
  }

  .down_app_icon {    
    margin-right: 0px; 
    margin-bottom: 80px;
  }

  .caption_txt_3 {
    font-size: 80px;
  }

  .logo_icon_2 {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .down_app_txt_2 {
    padding-right:  10px;
    padding-left: 100px;
  }

  .footer > .logo {
    padding-top: 0px;
  }
}

/* -------------------------------- промежуточное -------------------------------- */

@media (min-width: 961px) and (max-width: 1919px) {

  header {  
    background-image: url(../images/football_1280.jpg);
  }

  footer {  
    background-image: url(../images/game_1280.jpg);
  }

  .gamers:before { 
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 100px;  
    top: 120px; 
    background:url(../images/footballer_497.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .players:before {
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 50%;  
    top: 30px; 
    background:url(../images/basketballer_991.png); 
    background-repeat: no-repeat;
    z-index: 10;
    overflow: visible;
  }

  .step_txt:nth-child(odd), .step_txt:nth-child(even) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .step_point {
    left: -80px;
  }

  .step_point_2 {
    right: -80px;
    left: auto;
  }

  .step_point {
    height: 100px;
    width: 100px;
  }

