* {
  margin: 0px;
  padding: 0px;
}

body {
  
}

/* ---------------- Верхний блок ---------------- */

header {
  height: 960px;  
  background-image: url(../images/football_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {  
  height: 100%;
  background-color: rgb(10, 14, 52, 0.9);  
}

.logo {  
  display: flex;    
  justify-content: center;    
}

.logo_icon { 
  fill: white;
  width: 190px;
  height: 50px;
  margin-top: 3%;
}

.caption {  
  margin-top: 13%;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;  
}

.caption_txt {
  font-size: 90px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  letter-spacing: 5px;
  color: white;  
  text-transform: uppercase;
}

.caption > span:first-child {  
  margin-left: 8%;
}

.caption > span:last-child {  
  margin-left: 32%;
}


.apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.app_button {
  width: 310px;
  height: 80px;
  background-color: #5e42b0;
  border-radius: 40px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.app_button > span {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; 
  color: white;
  text-transform: uppercase;
}

.app_button:first-child {
  margin-right: 50px;
}

.logo_icon_app { 
  fill: white;
  width: 50px;
  height: 50px;
  margin-right: 30px;
}

/* ---------------- Игроки ---------------- */

.gamers {
  height: 1760px;
  display: flex;
  flex-direction: column;  
}

.athlets, .players {
  position: relative; /* позволяет позиционировать картинки от родителя */
}

.athlets_img {
  position: absolute;
  left: 18%;  
  top: 3%; 
}

.players_img {
  position: absolute;
  left: 38%;  
  top: 2%;
}

.athlets, .players {
  flex-basis: 50%; 
}

.athlet_txt {
  padding-left: 50%;
}

.player_txt {
  padding-left: 10%;
}

.athlet_txt, .player_txt {
  height: 25%;    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.athlet_txt_point {
  display:  flex; 
  flex-wrap:  wrap;   
}

.athlet_3, .player_3 {
  background-color: #f6f4fa;
}

.athlet_4 {
  background-color: #5e42b0;
}

.player_4 {
  background-color: #0a0e34;
}

h2 {
  font-size: 80px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  letter-spacing: 5px;
  color: #c1c1c1;  
  text-transform: uppercase;  
}

.h2_1 {
  padding-top: 60px;
}

h3 {
  font-size: 36px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  letter-spacing: 5px;
  color: #c1c1c1;  
  text-transform: uppercase;
  padding-bottom: 25px;
}

.athlet_point {
  width:  24px;  
  height: 24px;
  font-size: 18px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 900; 
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #8f7bc8;
  margin: 2px 12px 0px 0px;
}

.white_brdr {  
  border-bottom-color: white;
}

.point03 {
  color: #9173e6;
}

.athlet_txt > p, .player_txt > p {
  font-size: 20px; 
  font-family: 'OpenSans', sans-serif;
  width:  60%;
}

.player_txt > p {
  width:  40%;
}

.athlet_txt:last-child > p, .player_txt:last-child > p {
  color: white;  
}

/* ---------------- Шаги ---------------- */

.step {  
  display: flex;  
  font-size: 0; /* убирает пробелы между блоками */
  position: relative; /* позволяет позиционировать блок step_point от родителя */
}

.step_img, .step_txt {  
  flex-wrap: wrap;
  flex-basis: 50%;
}

.step_txt {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.step_txt:nth-child(even) {
  padding-left: 8%;
  box-sizing: border-box;
}

.step_txt:nth-child(odd) {
  padding-left: 8%;
  box-sizing: border-box;
}


.step_txt > p {
  font-size: 24px; 
  font-family: 'OpenSans', sans-serif;     
}

.step_img > img {
  max-width: 100%;  
} 

.step_point {
  height: 155px;
  width: 170px;
  background-color: #5e42b0;
  color: white;
  position: absolute;
  left: calc(50% - 170px/2);  
  top: calc(50% - 155px/2);  
}

.step_point > span {
  height: 100%; 
  color: white;
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 900; 
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #8f7bc8; /*разобраться с бордером*/
}



/* ---------------- Подвал ---------------- */

footer {
  height: 960px;
  background-image: url(../images/game_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  height: 100%;
  background-color: rgb(10, 14, 52, 0.9);
}

.down_app {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.down_app_icon {
  background-color: #6a4cc3;
  border-radius: 20px; 
  width: 135px;
  height: 140px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-right: 10px; 
}

.down_app_txt > p {
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
  color: #a496ca;
  text-transform: uppercase;  
}

.logo_icon_mini { 
  fill: white;
  width: 110px;
  height: 90px;  
}