* {
  margin: 0px;
  padding: 0px;
}


/* -------------------------------- Верхний блок -------------------------------- */

header {  
  background-image: url(../images/football_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {    
  background-color: rgb(10, 14, 52, 0.9);  
}

h1 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.logo {  
  display: flex;    
  justify-content: center;
  padding-top: 40px;  
}

.logo_icon { 
  fill: white;
  width: 190px;
  height: 55px;  
}

.caption {  
  margin-top: 280px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.caption_txt {
  font-size: 90px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;   
  color: white;  
  text-transform: uppercase;
}

.caption_txt_1 {
  padding-right: 850px;
}

.caption_txt_2 {
  padding-left: 450px;
}

.apps {
  display: flex;  
  justify-content: center;
  margin-top: 200px;
  padding-bottom: 100px;
}

.app_button {
  width: 310px;
  height: 80px;
  background-color: #5e42b0;
  border-radius: 40px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.app_button > span {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; 
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
}

.app_button_b {
  font-weight: 700;  
}

.app_button:first-child {
  margin-right: 50px;
}

.logo_icon_app { 
  fill: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* -------------------------------- Игроки -------------------------------- */

.gamers {  
  display: flex;
  flex-direction: column;    
}

.gamers, .players {
  position: relative; 
}

/*.athlets_img {
  position: absolute;
  left: 200px;  
  top: 30px; 
}*/

.gamers:before { 
  content:""; 
  position: absolute;  
  bottom: 10px;
  right: 10px; 
  left: 400px;  
  top: 60px; 
  background:url(../images/footballer_566.png); 
  background-repeat: no-repeat;
  z-index: 10;
}

.players:before {
  content:""; 
  position: absolute;  
  bottom: 10px;
  right: 10px; 
  left: 800px;  
  top: 60px; 
  background:url(../images/basketballer_991.png); 
  background-repeat: no-repeat;
  z-index: 10;
}

.athlets, .players {
  flex-basis: 50%; 
}

.athlet_txt {
  padding-left: 52%;
}

.player_txt {
  padding-left: 10%;  
}

.athlet_txt, .player_txt {      
  padding-top: 60px;
  padding-bottom: 60px;
}

.athlet_txt_point {
  display:  flex;   
}

.athlet_3, .player_3 {
  background-color: #f6f4fa;
}

.athlet_4 {
  background-color: #5e42b0;
}

.player_4 {
  background-color: #0a0e34;
}

h2 {
  font-size: 80px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;    
  color: #c1c1c1;  
  text-transform: uppercase;  
}

.h2_1 {
  padding-top: 30px;
}

h3 {
  font-size: 36px; 
  font-family: 'OpenSans', sans-serif;  
  letter-spacing: 5px;
  color: #c1c1c1;  
  text-transform: uppercase;
  padding-bottom: 25px;  
}

.athlet_point {  
  height: 24px;
  font-size: 18px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 900; 
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #8f7bc8;
  margin: 2px 12px 0px 0px;
  line-height: 25px;
}

.white_brdr {  
  border-bottom-color: white;
}

.point03 {
  color: #9173e6;
}

.athlet_txt > p, .player_txt > p {
  font-size: 20px; 
  font-family: 'OpenSans', sans-serif;  
  max-width: 750px;
  line-height: 25px;
}

.athlet_txt:last-child > p, .player_txt:last-child > p {
  color: white;  
}

/* -------------------------------- Шаги -------------------------------- */

.step {  
  display: flex;  
  font-size: 0; /* убирает пробелы между блоками */
}

.step_img, .step_txt {    
  flex-basis: 50%;  
}

.step_img > img {
  max-width: 100%;  
}

.step_txt {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  box-sizing: border-box; 
}

.step_point_pos {
  position: relative; /* позволяет позиционировать блок step_point от родителя */
}

.step_txt:nth-child(even) {
  padding-left: 130px;
  max-width: 640px;  
}

.step_txt:nth-child(odd) {
  padding-left: 180px;    
}


.step_txt > p {
  padding-top: 130px;
  font-size: 24px; 
  font-family: 'OpenSans', sans-serif;     
}

.step_point {
  height: 155px;
  width: 170px;
  background-color: #5e42b0;
  color: white;
  position: absolute;
  left: calc(-215px);
  top: calc(-155px / 4);
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.step_point_2 {
  left: calc(690px);
}

.step_point_txt {  
  color: white;
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 700;   
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #8f7bc8;   
}



/* -------------------------------- Подвал -------------------------------- */

footer {  
  background-image: url(../images/game_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {  
  background-color: rgb(10, 14, 52, 0.9);
}

.down_app {
  display: flex;
  justify-content: center;
  padding-top: 255px;
}

.down_app_icon {
  background-color: #6a4cc3;
  border-radius: 20px; 
  width: 130px;
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-right: 10px; 
}

.down_app_txt_2 {
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
  color: #a496ca;
  text-transform: uppercase;  
}

.logo_icon_mini { 
  fill: white;
  width: 110px;
  height: 90px;  
}

.logo_icon_2 {
  padding-top: 160px;
  padding-bottom: 50px;
}


/* -------------------------------- surface_320.psd -------------------------------- */

@media (max-width: 640px) {

  .apps {       
    flex-direction: column;
    align-items: center;        
  }

  .footer > .apps {
    padding-bottom: 0;
    margin-top: 80px;
  }

  .logo_icon_app { 
    fill: white;
    width: auto;
    height: 25px;
    margin-right: 15px;
    padding-left: 30%;
  }

  .app_button {
    max-width: 280px;    
    height: 35px;      
    justify-content: flex-start;  
    margin: 0;
    margin-bottom: 3%;  
    
  }

  .app_button:first-child {
  margin-right: 0px;
  }

  .app_button > span {
    font-size: 8px;
  }

  .gamers:before { 
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 80px;  
    top: 120px; 
    background:url(../images/footballer_192.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .players:before {
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 10px;  
    top: 120px; 
    background:url(../images/basketballer_302.png); 
    background-repeat: no-repeat;
    z-index: 10;
    /*overflow: visible;*/
  }

  .caption_txt {
    font-size: 28px;    
  }

  .caption_txt_1 {
    padding-right: 20px;
  }

  .caption_txt_2 {
    padding-left: 65px;
    padding-top: 30px;
  }

  .caption {
    margin-bottom: 90px;
    margin-top: 135px;
  }

  h2 {
    font-size: 50px;    
  }

  .h2_1 {
    padding-bottom: 330px;
  }

  .athlet_txt, .player_txt {
    padding-left: 20px;
    padding-top: 55px;
  }

  .athlet_2, .player_2 {
  background-color: #fafafa;
  }

  .athlet_txt:first-child, .player_txt:first-child {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -60px;
  }

  .athlet_txt > p, .player_txt > p {
    font-size: 16px;
    max-width: 270px;
  }

  .athlet_point, .player_point {
    font-size: 14px;
    margin: -3px 4px 0px 0px;
    width: 20px;
  }

  h3 {
    font-size: 23px;
  }

  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_txt:nth-child(even), .step_txt:nth-child(odd) {
    height: 210px;
    padding-left: 20px;
  }

  .step_point {
    height: 70px;
    width: 70px; 
    left: calc(35px - 70px/2);  
    top: calc(-65px - 70px/2);   
  }

  .step_point_pos > h2 {
    font-size:  28px;
  }

  .step_point_txt {
    height: 20%;
    width: 22%;
    line-height: 15px;
    font-size:  14px;
  }
  
  .step_txt {
    height: 210px;    
  }

  .step_txt > h2 {
    font-size:  28px;
    margin-bottom:  25px;
  }

  .step_txt > p {
    font-size:  16px;
    padding-top: 30px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 15%; 
  }

  .down_app_icon {
    margin-bottom: 10%;
    margin-right: 0px; 
    width: 70px;
    height: 70px; 
  }

  .caption_txt_3 {
    font-size: 28px;
  }

  .logo_icon_mini {
    width: 50px;
    height:  50px;
  }

  .down_app_txt_2 {
    font-size:  14px;
  }

  .logo_icon_2 {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .logo_icon {
    width: 135px;
    height: 40px;
  }

}

/* -------------------------------- surface_768.psd -------------------------------- */

@media (min-width: 641px) and (max-width: 960px) {

  /*поправить бекграунд*/

  .gamers:before { 
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: -150px;  
    top: 120px; 
    background:url(../images/footballer_497.png); 
    background-repeat: no-repeat;
    z-index: 10;
  }

  .players:before {
    content:""; 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
    left: 335px;  
    top: 30px; 
    background:url(../images/basketballer_436.png); 
    background-repeat: no-repeat;
    z-index: 10;
    /*overflow: visible;*/
  }

  .caption {
    margin-top: 180px;
    align-items: flex-start;
  }

  h2 {
    font-size: 64px;    
  }

  .caption_txt {
    font-size: 64px;
  }
    
  .caption_txt_1 {
    padding-left: 80px; 
    padding-right: 0;   
  }

  .caption_txt_2 {
    padding-left: 180px;    
  }
  
  .apps {
    margin-top: 310px;
    margin-bottom: 0;
    
  }

  .athlet_txt, .player_txt {
    padding-bottom: 0;
  }

  .athlet_txt {
    padding-left: 40%;
  }  

  h3 {
    font-size: 32px;
  }

  .athlet_txt > p, .player_txt > p {
    font-size: 16px;
    padding-bottom: 40px;
    max-width: 430px;
  }
  
  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_point, .step_point_2 {
    height: 110px;
    width: 110px; 
    left: calc(55px - 110px/2);  
    top: calc(-110px - 110px/2);   /*нужно сделать для 1ого квадрата отдельный отступ*/
  }

  .step_point_txt {
    height: 20%;
    width: 20%;
    line-height: 15px;
  }
  
  .step_txt:nth-child(even), .step_txt:nth-child(odd) {
    height: 340px;
    padding-left: 30px;
  }

  .step_txt > p {
    padding-top: 40px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 120px;    
  }

  .down_app_icon {    
    margin-right: 0px; 
    margin-bottom: 80px;
  }

  .caption_txt_3 {
    font-size: 80px;
  }

  .logo_icon_2 {
  padding-top: 30px;
  padding-bottom: 50px;
}
}

@media (min-width: 961px) {

/*  .caption > span:first-child {  
    margin-right: 50%;
  }

  .caption > span:last-child {  
    margin-left: 28%;
  } */ 
}
