* {
  margin: 0px;
  padding: 0px;
}


/* ---------------- Верхний блок ---------------- */

header {
  height: 960px;  
  background-image: url(../images/football_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {  
  height: 100%;
  background-color: rgb(10, 14, 52, 0.9);  
}

h1 {
  visibility: hidden;
}

.logo {  
  display: flex;    
  justify-content: center;    
}

.logo_icon { 
  fill: white;
  width: 190px;
  height: 50px;
  margin-top: 0.5%;
}

.logo_icon_2 {
  margin-top: 10%;
}

.caption {  
  margin-top: 14%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.caption_txt {
  font-size: 90px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  
  color: white;  
  text-transform: uppercase;
}

.caption_txt_1 {
  padding-right: 45%;
}

.caption_txt_2 {
  padding-left: 25%;
}

.apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 11%;
}

.app_button {
  width: 310px;
  height: 80px;
  background-color: #5e42b0;
  border-radius: 40px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.app_button > span {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; 
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
}

.app_button_b {
  font-weight: 700;  
}

.app_button:first-child {
  margin-right: 50px;
}

.logo_icon_app { 
  fill: white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* ---------------- Игроки ---------------- */

.gamers {
  height: 1760px;
  display: flex;
  flex-direction: column;    
}

.athlets, .players {
  position: relative; /* позволяет позиционировать картинки от родителя */
}

.athlets_img {
  position: absolute;
  left: 20%;  
  top: 3%; 
}

.players_img {
  position: absolute;
  left: 42%;  
  top: 2%;
}

.athlets, .players {
  flex-basis: 50%; 
}

.athlet_txt {
  padding-left: 52%;
}

.player_txt {
  padding-left: 10%;
}

.athlet_txt, .player_txt {
  height: 25%;    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.athlet_txt_point {
  display:  flex; 
  flex-wrap:  wrap;   
}

.athlet_3, .player_3 {
  background-color: #f6f4fa;
}

.athlet_4 {
  background-color: #5e42b0;
}

.player_4 {
  background-color: #0a0e34;
}

h2 {
  font-size: 80px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  
  color: #c1c1c1;  
  text-transform: uppercase;  
}

.h2_1 {
  padding-top: 60px;
}

h3 {
  font-size: 36px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;  
  letter-spacing: 5px;
  color: #c1c1c1;  
  text-transform: uppercase;
  padding-bottom: 25px;
}

.athlet_point {
  width:  24px;  
  height: 24px;
  font-size: 18px; 
  font-family: 'OpenSans', sans-serif;
  font-weight: 900; 
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #8f7bc8;
  margin: 2px 12px 0px 0px;
  line-height: 25px;
}

.white_brdr {  
  border-bottom-color: white;
}

.point03 {
  color: #9173e6;
}

.athlet_txt > p, .player_txt > p {
  font-size: 20px; 
  font-family: 'OpenSans', sans-serif;  
}

.athlet_txt:last-child > p, .player_txt:last-child > p {
  color: white;  
}

/* ---------------- Шаги ---------------- */

.steps {
  display: flex;
  align-content: center;
  align-items: center;
}

.step {  
  display: flex;  
  font-size: 0; /* убирает пробелы между блоками */
  position: relative; /* позволяет позиционировать блок step_point от родителя */

}

.step_img, .step_txt {  
  flex-wrap: wrap;
  flex-basis: 50%;  
}

.step_txt {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.step_txt:nth-child(even) {
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.step_txt:nth-child(odd) {
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
}


.step_txt > p {
  font-size: 24px; 
  font-family: 'OpenSans', sans-serif;     
}

.step_img > img {
  max-width: 100%;  
} 

.step_point {
  height: 155px;
  width: 170px;
  background-color: #5e42b0;
  color: white;
  position: absolute;
  left: calc(50% - 170px/2);  
  top: calc(50% - 155px/2);  
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.step_point_txt {
  height: 20%;
  width: 16%;
  color: white;
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 700;   
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #8f7bc8; 
  line-height: 25px;
}



/* ---------------- Подвал ---------------- */

footer {
  height: 960px;
  background-image: url(../images/game_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  height: 100%;
  background-color: rgb(10, 14, 52, 0.9);
}

.down_app {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.down_app_icon {
  background-color: #6a4cc3;
  border-radius: 20px; 
  width: 130px;
  height: 130px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-right: 10px; 
}

.down_app_txt_2 {
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
  color: #a496ca;
  text-transform: uppercase;  
}

.logo_icon_mini { 
  fill: white;
  width: 110px;
  height: 90px;  
}


/* surface_320.psd */

@media (max-width: 640px) {

  header, footer {
    height: 570px;
  }

  .apps {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
  }

  .logo_icon_app { 
    fill: white;
    width: auto;
    height: 25px;
    margin-right: 15px;
    padding-left: 30%;
  }

  .app_button {
    width: auto;
    height: 35px;      
    justify-content: flex-start;  
    margin-left: 6%;  
    margin-bottom: 6%;  
  }

  .app_button > span {
    font-size: 8px;
  }


  .athlets_img, .players_img {
    /*width:  80%;
    position: relative;
    left: 0%;  
    top: 0%;*/
    display:  none;
  }

  .caption_txt {
    font-size: 28px;    
  }

  .caption_txt_1 {
    padding-right: 20%;
  }

  .caption_txt_2 {
    padding-left: 15%;
    padding-top: 5%;
  }

  .caption {
    margin-bottom: 40%;
    margin-top: 40%;
  }

  h2 {
    font-size: 50px;    
  }

  .athlet_txt, .player_txt {
    padding-left: 20px;
  }

  .athlet_txt > p, .player_txt > p {
    font-size: 16px;
  }

  .athlet_point, .player_point {
    font-size: 14px;
    margin: -3px 4px 0px 0px;
    width: 20px;
  }

  h3 {
    font-size: 23px;
  }

  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_point {
    height: 70px;
    width: 70px; 
    left: calc(20% - 70px/2);  
    top: calc(48% - 70px/2);   /*нужно сделать для 1ого квадрата отдельный отступ*/
  }

  .step_point_txt {
    height: 20%;
    width: 22%;
    line-height: 15px;
    font-size:  14px;
  }
  
  .step_txt {
    height: 210px;    
  }

  .step_txt > h2 {
    font-size:  28px;
    margin-bottom:  25px;
  }

  .step_txt > p {
    font-size:  16px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 15%; 
  }

  .down_app_icon {
    margin-bottom: 10%;
    margin-right: 0px; 
    width: 70px;
    height: 70px; 
  }

  .caption_txt_3 {
    font-size: 28px;
  }

  .logo_icon_mini {
    width: 50px;
    height:  50px;
  }

  .down_app_txt_2 {
    font-size:  14px;
  }
}

/* surface_768.psd */

@media (min-width: 641px) and (max-width: 960px) {

  /*поправить бекграунд*/

  .athlets_img {
  position: absolute;
  left: -20%;  
  top: 10%; 
  }

  .players_img {
  position: absolute;
  left: 40%;  
  top: 1%;
  }

  h2 {
    font-size: 64px;    
  }
    
  .caption_txt_1 {
    padding-right: 15%;
  }

  .caption_txt_2 {
    padding-left: 25%;
  }
  
  .apps {
    margin-top: 20%
  }

  .caption {
    margin-top: 20%;
  }

  h3 {
    font-size: 32px;
  }

  .athlet_txt > p, .player_txt > p {
    font-size: 16px;
  }
  
  .step {  
    flex-direction: column;
  }

  .step_2 {
    flex-direction: column-reverse;
  }

  .step_point {
    height: 110px;
    width: 110px; 
    left: calc(10% - 110px/2);  
    top: calc(66% - 110px/2);   /*нужно сделать для 1ого квадрата отдельный отступ*/
  }

  .step_point_txt {
    height: 20%;
    width: 20%;
    line-height: 15px;
  }
  
  .step_txt {
    height: 340px;
  }

  .down_app {
    flex-direction: column;    
    align-items: center;
    padding-top: 15%; 
  }

  .down_app_icon {
    margin-bottom: 10%;
    margin-right: 0px; 
  }

  .caption_txt_3 {
    font-size: 80px;
  }
}

@media (min-width: 961px) {

/*  .caption > span:first-child {  
    margin-right: 50%;
  }

  .caption > span:last-child {  
    margin-left: 28%;
  } */ 
}
